@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

section {
	background-color:#1b1b1b;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.row {
	max-width: 1000px;
	margin: 0 auto;
}

.text__color {
	color: 	#ffa31a;
}

/*********** 

	NAV BAR

************/

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 0 16px;
	height: 160px;
	max-width: 1200px;
}

.nav__img {
	width: 100%;
}

.nav__link--list {
	display: flex;
	align-items: center;
}

.nav__link {
	margin-left: 38px;
	color: #fff;
}

.nav__link--main {
	border: 1px solid #fff;
	padding: 12px 32px;
	border-radius: 25px;
}



/*********** 

	LANDING PAGE

************/

#landing-page {
	min-height: 100vh;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 160px);
}

.header__title {
	font-size: 48px;
	text-align: center;
	color: #fff;
}

form {
	margin-top: 48px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.form__search {
	width: 40%;
	outline: none;
	padding: 12px 16px;
	border-radius: 25px;
	border: none;
}

.form__btn {
	border-radius: 25px;
	padding: 12px;
	border: none;
	margin-left: 4px;
	width: 40px;
}

.movie-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 32px;
}

.movie {
	width: calc(100%/3);
	padding: 8px;
}

.movie__title {
	text-align: center;
	color: #fff;
}




